@page "/"

<PageTitle>Home</PageTitle>

<a href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=n6ehjc3rmj4s93o0xk72vqgljwnioo&redirect_uri=http://localhost:5034/Login&scope=channel%3Aread%3Avips">Connect with Twitch</a>